.not-found-image {
  height: 120px;
  width: 60px;
}
.page-not-found {
  font-size: 18px;
  text-align: center;
}
.para-not-found {
  font-size: 14px;
  text-align: center;
}
.not-found-container{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}