.saved-content-container {
  display: flex;
  flex-direction: row;
}
.saved-navbar {
  position: fixed;
  height: 100vh;
  width: 30%;
}
.saved-videos-container {
  width: 70%;
}
.video-bg-dark {
  background-color: #000000;
  color: #ffffff;
}
.video-bg-light {
  background-color: #ffffff;
  color: #000000;
}
.saved-unordered {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.saved-video-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.saved-thumbnail-image {
  height: 140px;
  width: 300px;
  margin: 3px;
}
.saved-title {
  font-size: 14px;
  font-family: 'Roboto';
}
.video-channel {
  font-size: 12px;
  color: #424242;
}
.viewers-video {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.viewer-video-count {
  font-size: 10px;
  color: #424242;
  font-family: 'Roboto';
}
.saved-videos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-vd-image {
  height: 300px;
  width: 450px;
  margin: 5px;
}
.failure-name {
  font-size: 20px;
  font-family: 'Roboto';
}
.failure-descc {
  color: #424242;
  font-size: 12px;
}
.bg-sv {
  width: 100%;
  height: 100%;
}
.saved-bg-container{
  height:100vh;
  margin:0px;
  padding:2px;
}