.bg-dark {
  background-color: #000000;
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
  color: #000000;
}

.bg-navbar {
  display: flex;
  flex-direction: column;
  padding-bottom:66px;
}

.connect {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connect-logo {
  height: 35px;
  width: 35px;
  margin: 2px;
}
.navbar-unordered-list {
  list-style-type: none;
}
.nav-link-text-decor {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-react-icon-redirect {
  color: #909090;
  margin-right: 4px;
  font-size: 16px;
  height: 16px;
  width: 16px;
}
.nav-link-redirect {
  font-size: 15px;
  color: #909090;
  font-family: 'Roboto';
}
.bg-navbar-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.active-nav {
  color: #ff0000;
  font-weight: 600;
}

.active-nav .nav-react-icon-redirect {
  color: #ff0000;
}
.active-nav {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 6px;
}

.active-nav {
  background-color: #d7dfe9;
}

.bg-dark .active-nav {
  background-color: #181818;
}

.active-nav .nav-react-icon-redirect {
  color: #ff0000;
}

.active-nav .nav-link-redirect {
  color: #ff0000;
  font-weight: 600;
}
.nav-ad-22 {
  font-family: 'Roboto';
  font-size: 10px;
  padding: 2px;
}
.contact-us-nav {
  font-size: 13px;
  font-family: 'Roboto';
}
