.trend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.t-thumbnail-image {
  height: 130px;
  width: 250px;
  margin: 2px;
}
.text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.t-title-name {
  font-size: 14px;
  font-family: 'Roboto';
}
.channel-name {
  color: #424242;
  font-size: 14px;
}
.viewers {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
.t-published {
  color: #424242;
  font-size: 12px;
}
.linker-trending {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
